* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Fredericka the Great', cursive; 
}

h1{
    text-align: center;
    margin-top: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

#gameBoard{
   height: 60%;
   flex-shrink: 5;
}

.square{
    width: 33%;
    height: 100px;
    
}

.vertical{
    border-left:2px solid black;
    border-right: 2px solid black;
}

.horizontal{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.putX{
    background-image: url(/images/x.png);
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.putO{
    background-image: url(/images/y.png);
    background-position: center;
    background-size:70% 70%;
    background-repeat: no-repeat;
   
}

.resize{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.modal-content{
    background: #6aa585;
}

.modal-content h2,
.modal-content h3{
    text-rendering: optimizeLegibility;
    color: white;
}