* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Fredericka the Great', cursive; 
}

h1{
    text-align: center;
    margin-top: 50px;
}

.square{
    width: 33%;
    height: 100px;
    
}



#gameBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}


.vertical{
    border-left:1px solid black;
    border-right: 1px solid black;
}

.horizontal{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.putX{
    background-image: url(/images/x.png);
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.putO{
    background-image: url(/images/y.png);
    background-position: center;
    background-size:70% 70%;
    background-repeat: no-repeat;
   
}